.bg {
    background-color: #e5e5e5;
    float: left;
    width: 100%;
}

.main {
    float: left;
    margin-left: calc((100% - 950px)/2);
    margin-right: calc((100% - 950px)/2);
    width: 950px;
}

.region {
    color: #212E3E;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
}

.section {
    float: left;
    width: 100%;
}

.blankDiv {
    background-color: white;
}