.chartBlankContainer {
    background-color: white;
    float: right;
    height: 375px;
    width: 100%;
}

.chartContainer {
    height: 300px;
    float: left;
    width: 100%;
}

.chartTitleContainer {
    float: left;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    width: 100%;
}

.titleText {
    color: #646D78;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}