.tableContainer {
    float: left;
    margin-left: calc((100% - (120px)*7)/2);
    width: calc(120px*7 + 2px);
}

.headerContainer {
    border-bottom: solid 2px black;
    float: left;
    width: 100%;
}

.bodyContainer {
    float: left;
    width: 100%;
}

.rowContainer {
    float: left;
    width: 100%;
}

.cell {
    float: left;
    height: 35px;
    text-align: center;
    width: 120px;
}